[gcode_macro _BTC_LED_SET_INDICES]
gcode:
  {% set indices = params.INDICES|default("")|string %}
  {% set indices = indices.split(",") %}
  {% set led = params.LED|string %}
  {% set RED = params.RED|int %}
  {% set GREEN = params.GREEN|int %}
  {% set BLUE = params.BLUE|int %}
  {% set TRANSMIT = params.TRANSMIT|int %}
  {% set SYNC = params.SYNC|int %}
  {% set WHITE = params.WHITE|int %}

  {% for idx in indices %}
#    { action_respond_info("SET_LED LED=%s INDEX=%s RED=%s GREEN=%s BLUE=%s TRANSMIT=%s SYNC=%s WHITE=%s" % (led, idx, RED, GREEN, BLUE, TRANSMIT, SYNC, WHITE)) }
    SET_LED LED={led} INDEX={idx} RED={RED} GREEN={GREEN} BLUE={BLUE} TRANSMIT={TRANSMIT} SYNC={SYNC} WHITE={WHITE}
  {% endfor %}

[gcode_macro BTC_LED_STATUS_ACTIVE]
gcode:
  {% set tool = params.TOOL|default(0)|int %}
  {% set toolvar = printer["gcode_macro _Variables_t" + tool|string] %}
  {% set leds = toolvar.leds_toolhead|string %}
  {% if 'gcode_macro BTC_LED_STATUS_ACTIVE_USER' in printer %}
    BTC_LED_STATUS_ACTIVE_USER LED=status_led{tool}
  {% else %}
    _BTC_LED_SET_INDICES LED=status_led{tool} INDICES={leds} RED=0 GREEN=1 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
  {% endif %}

[gcode_macro BTC_LED_STATUS_STANDBY]
gcode:
  {% set tool = params.TOOL|default(0)|int %}
  {% set toolvar = printer["gcode_macro _Variables_t" + tool|string] %}
  {% set leds = toolvar.leds_toolhead|string %}
  {% if 'gcode_macro BTC_LED_STATUS_STANDBY_USER' in printer %}
    BTC_LED_STATUS_STANDBY_USER LED=status_led{tool}
  {% else %}
    _BTC_LED_SET_INDICES LED=status_led{tool} INDICES={leds} RED=0 GREEN=0 BLUE=1 TRANSMIT=1 SYNC=0 WHITE=0
  {% endif %}

[gcode_macro BTC_LED_STATUS_UNUSED]
gcode:
  {% set tool = params.TOOL|default(0)|int %}
  {% set toolvar = printer["gcode_macro _Variables_t" + tool|string] %}
  {% set leds = toolvar.leds_toolhead|string %}
  {% if 'gcode_macro BTC_LED_STATUS_UNUSED_USER' in printer %}
    BTC_LED_STATUS_UNUSED_USER LED=status_led{tool}
  {% else %}
    _BTC_LED_SET_INDICES LED=status_led{tool} INDICES={leds} RED=0 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
  {% endif %}

[gcode_macro BTC_LED_NOZZLE_LED]
gcode:
  {% set tool = params.TOOL|default(0)|int %}
  {% set toolvar = printer["gcode_macro _Variables_t" + tool|string] %}
  {% set leds = toolvar.leds_nozzle|string %}
  {% if 'gcode_macro BTC_LED_NOZZLE_LED_USER' in printer %}
    BTC_LED_NOZZLE_LED_USER LED=status_led{tool}
  {% else %}
    _BTC_LED_SET_INDICES LED=status_led{tool} INDICES={leds} RED=0.5 GREEN=1 BLUE=1 TRANSMIT=1 SYNC=0 WHITE=0
  {% endif %}

[gcode_macro BTC_LED_NOZZLE_LED_OFF]
gcode:
  {% set tool = params.TOOL|default(0)|int %}
  {% set toolvar = printer["gcode_macro _Variables_t" + tool|string] %}
  {% set leds = toolvar.leds_nozzle|string %}
  {% if 'gcode_macro BTC_LED_NOZZLE_LED_OFF_USER' in printer %}
    BTC_LED_NOZZLE_LED_OFF_USER LED=status_led{tool}
  {% else %}
    _BTC_LED_SET_INDICES LED=status_led{tool} INDICES={leds} RED=0 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
  {% endif %}

[gcode_macro BTC_LED_TOOL_ERROR_HIGHLIGHT]
gcode:
  {% set error_tool = params.TOOL|default(0)|int %}
  {% for toolnumber in printer["gcode_macro _btc_Variables"].numoftool %}
    {% set toolvar = printer["gcode_macro _Variables_t" + toolnumber|string] %}

    {% if toolnumber|int != error_tool %}
      {% set leds = toolvar.leds_toolhead|string %}
      _BTC_LED_SET_INDICES LED=status_led{toolnumber} INDICES={leds} RED=1 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
      {% set leds = toolvar.leds_nozzle|string %}
      _BTC_LED_SET_INDICES LED=status_led{toolnumber} INDICES={leds} RED=0 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
    {% endif %}
  {% endfor %}

  {% set toolvar = printer["gcode_macro _Variables_t" + error_tool|string] %}
  {% set leds = toolvar.leds_nozzle|string %}
  _BTC_LED_SET_INDICES LED=status_led{error_tool} INDICES={leds} RED=1 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
  {% set leds = toolvar.leds_toolhead|string %}
  _BTC_LED_SET_INDICES LED=status_led{error_tool} INDICES={leds} RED=1 GREEN=0 BLUE=0 TRANSMIT=1 SYNC=0 WHITE=0
  
