########################################################################################
## Filament switches
########################################################################################
[gcode_macro _Ensure_Filament_Present]
gcode:
  {% set toolnumber = params.TOOL|int %}
  {% set pause = params.PAUSE|default(0)|int %}
  {% set enable = params.ENABLE|default(0)|int %}
  
  {% if "filament_switch_sensor filament_switch_sensor" ~ toolnumber|string in printer %}#
    {% if enable == 1 %}
      _Safe_Set_Filament_Sensor TOOL={toolnumber} ENABLE=1
    {% endif %}

    {% set filament_switch_sensor = printer["filament_switch_sensor filament_switch_sensor" ~ toolnumber|string] %}
    {% if filament_switch_sensor.filament_detected != True %}filament_detected
      {% set msg = "Tool " ~ toolnumber ~ " is missing filament!" %}
      {% if pause == 1 %}
        { action_respond_info(msg) }
        PAUSE
      {% else %}
        { action_raise_error(msg) }
      {% endif %}
    {% else %}
      { action_respond_info("Tool " ~ toolnumber ~ " has filament loaded.") }
    {% endif %}
  {% else %}
    { action_respond_info("Cannot check for filament: Tool " ~ toolnumber ~ " has no filament sensor defined.") }
  {% endif %}
  
[gcode_macro _Safe_Set_Filament_Sensor]
gcode:
  {% set toolnumber = params.TOOL|int %}
  {% set enable = params.ENABLE|int %}
  
  {% if "filament_switch_sensor filament_switch_sensor" ~ toolnumber|string in printer %}#
    {% if enable == 0 %}
      SET_FILAMENT_SENSOR SENSOR="filament_switch_sensor{toolnumber}" ENABLE=0
    {% else %}
      SET_FILAMENT_SENSOR SENSOR="filament_switch_sensor{toolnumber}" ENABLE=1
    {% endif %}
  {% endif %}
########################################################################################


